<!DOCTYPE html>
<html lang="en" class="html-background">

<head>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Terrence Shop</title>
  <link rel="icon apple-touch-icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>
  <script data-cfasync="false" type="text/javascript"
    src="https://app.ecwid.com/script.js?79513273&data_platform=code&data_date=2022-09-20" charset="utf-8"></script>
  <!-- Display a message if JS has been disabled on the browser. -->
  <noscript>If you're seeing this message, that means <strong>JavaScript has been disabled in your browser</strong>,
    please <strong>enable JS</strong> to make this app work.</noscript>
  <div id="root"></div>
</body>

</html>